/* Resetta Font */
@import url('https://fonts.googleapis.com/css2?family=Rasa:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Rasa', serif;
}

/* Start Header Part Designed */
header img {
    width: 150px;
}

header a {
    font-size: 18px;
}

.link {
    position: relative;
}

.link a::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: #000;
    top: 5px;
    right: 56px;
}

/* End Header Part Designed */

/* Start Banner Part Designed */
.banner {
    background-image: url('images/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 50px;
    padding: 20px 40px;
}

.inner-banner {
    background-color: #fff;
    border-radius: 60px;
    border: 2px solid gray;

}

.child-banner {
    display: grid;
    justify-items: center;
    align-items: center;
}

.color {
    color: #1EDE2C;
}

.banner button {
    padding: 10px 40px;
    font-size: 24px;
    border-radius: 15px;
}

.slider {
    width: 100%;
}

.slider input {
    display: none;
}

.testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 350px;
    perspective: 1000px;
    overflow: hidden;
}

.testimonials .item {
    top: 0;
    position: absolute;
    box-sizing: border-box;
    padding: 5px;
    width: 280px;
    text-align: center;
    transition: transform 0.4s;
    -webkit-transform-style: preserve-3d;
    user-select: none;
    cursor: pointer;
}

.testimonials .item img {
    width: 250px;
    border-radius: 50%;
    border: 2px solid #3B344D;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.dots label {
    display: block;
    height: 2px;
    width: 5px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #000;
    margin: 5px;
    transition: transform 0.2s, color 0.2s;
}

/* First */
#t-1:checked~.dots label[for="t-1"] {
    transform: scale(2);
    background-color: #000;
    width: 10px;
}

#t-1:checked~.dots label[for="t-2"] {
    transform: scale(1.5);
}

#t-1:checked~.testimonials label[for="t-1"] {
    z-index: 4;
}

#t-1:checked~.testimonials label[for="t-2"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
    z-index: 3;
}

#t-1:checked~.testimonials label[for="t-3"] {
    transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
    z-index: 2;
}

#t-1:checked~.testimonials label[for="t-4"] {
    transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
    z-index: 1;
}

#t-1:checked~.testimonials label[for="t-5"] {
    transform: translateX(1200px) translateZ(-360px) rotateY(-45deg);
}

/* Second */
#t-2:checked~.dots label[for="t-1"] {
    transform: scale(1.5);
}

#t-2:checked~.dots label[for="t-2"] {
    transform: scale(2);
    background-color: #000;
    width: 10px;
}

#t-2:checked~.dots label[for="t-3"] {
    transform: scale(1.5);
}

#t-2:checked~.testimonials label[for="t-1"] {
    transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}

#t-2:checked~.testimonials label[for="t-2"] {
    z-index: 3;
}

#t-2:checked~.testimonials label[for="t-3"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
    z-index: 2;
}

#t-2:checked~.testimonials label[for="t-4"] {
    transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
    z-index: 1;
}

#t-2:checked~.testimonials label[for="t-5"] {
    transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
}

/* Third */
#t-3:checked~.dots label[for="t-2"] {
    transform: scale(1.5);
}

#t-3:checked~.dots label[for="t-3"] {
    transform: scale(2);
    background-color: #000;
    width: 10px;
}

#t-3:checked~.dots label[for="t-4"] {
    transform: scale(1.5);
}

#t-3:checked~.testimonials label[for="t-1"] {
    transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}

#t-3:checked~.testimonials label[for="t-2"] {
    transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}

#t-3:checked~.testimonials label[for="t-3"] {
    z-index: 3;
}

#t-3:checked~.testimonials label[for="t-4"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
    z-index: 2;
}

#t-3:checked~.testimonials label[for="t-5"] {
    transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
}

/* End Banner Part Designed */

/* Start Feature Part Designed */
.feature {
    margin-top: 230px;
}

.inner-feature {
    border: 2px solid gray;
    border-radius: 35px;
}

.blur {
    background-color: rgb(231, 227, 227);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: auto;
}

.inner-feature p {
    font-size: 24px;
    line-height: 1em;
}

/* End Feature Part Designed */


@media only screen and (min-width: 767px) and (max-width: 991px) {

    .feature {
        margin-top: 350px;
    }

}

@media only screen and (min-width: 200px) and (max-width: 991px) {

    header {
        box-shadow: 0 0 20px gray;
    }

    .banner {
        height: 160px;
        border-radius: 30px;
        margin: 15px;
        padding: 15px;
    }

    .inner-banner {
        padding: 10px;
    }

    .inner-feature {
        margin: 15px;
        padding: 10px;
    }

    .blur {
        background-color: rgb(231, 227, 227);
        width: 70px;
        height: 70px;
        border-radius: 100%;
        margin: auto;
    }

    .display {
        display: flex;
        justify-content: space-between;
        justify-items: center;
    }

    .display div {
        width: 20%;
    }

    .display p {
        width: 80%;
    }

}

@media only screen and (min-width: 200px) and (max-width: 767px) {

    .feature {
        margin-top: 630px;
    }

}


@media only screen and (min-width: 200px) and (max-width: 500px) {

    .feature {
        margin-top: 720px;
    }

}